<?xml version="1.0"?>
<launch>
  <!-- nodes -->
  <node pkg="raspicat_gazebo" type="motors_sim" name="motors_sim" required="true" output="screen">
    <param name="check_cmdvel_rate"     value="10"/>
    <param name="num_callback_threads"  value="1"/>
  </node>

  <node pkg="raspicat_gazebo" type="ultrasonic_convert" name="ultrasonic_convert" required="true" output="screen">
    <param name="publish_rate"          value="10"/>
    <param name="num_callback_threads"  value="1"/>
  </node>

  <node pkg="rosservice" type="rosservice" name="motor_on" args="call --wait /motor_on"/>
</launch>